---
layout: home
---

<div class="hero">
  <div class="hero-content">
    <h1>Tech Notes from the Journey</h1>
    <p>Sharing bits of what I’m learning in tech - sometimes new, sometimes messy, always real</p>
    <a href="{{ site.baseurl }}/all-post" class="btn-primary">Explore Articles</a>
  </div>
</div>

<div id="posts" class="home post-list-wrapper">
  <h1 class="section-heading">Recent Posts</h1>
  <div class="post-grid">
    {% for post in paginator.posts %}
      <div class="post-card">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p class="post-excerpt">{{ post.excerpt }}</p>
      </div>
    {% endfor %}
  </div>
  <a href="{{ site.baseurl }}/all-post" class="btn-secondary">View All Posts</a>
</div>

<div class="project-list-wrapper">
  
  <ul class="project-list">
    <h1 class="section-heading">Projects</h1>
    <li>
      <h3><a href="{{site.baseurl}}/patternlock/">jQuery Pattern Lock plugin</a></h3>
      <img class="project-image" src="{{site.baseurl}}/images/patternLock_logo.PNG" alt="GitHub Logo">
      <p>This is browser based pattern lock plugin similar to Pattern locks available in Android/iOS.</p>
    </li>
    <li>
      <h3><a href="{{site.baseurl}}/phonecatrrs/">Phonecat In React.js</a></h3>
      <img class="project-image" src="{{site.baseurl}}/images/reactjs.png" alt="React.js">
      <p>Phonecat similar to Angular.js <a href="https://github.com/angular/angular-phonecat">phonecat</a>
        developed in <a href="https://facebook.github.io/react/">React.js</a>, <a href="http://redux.js.org/">Redux</a>
          and <a href="https://redux-saga.js.org/">Saga </a></p>
    </li>
  </ul>
</div>

<!-- Pagination links -->
<div class="pagination post-list-wrapper">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>